.btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px; 
    &:focus{
        outline: none;
     }
     &:hover{
        transition: background-color .8s ease;
        background-color: darken($color: $primary, $amount: 20);
     }
}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;
    &:disable{
       background-color: lighten($color: $primary, $amount: 15) ; 
    }
}